script(type="text/javascript" src="js/materialize.min.js")
if messages
    script(type="text/javascript") 
        each message in messages
            | M.toast({html: "#{message}", displayLength: (30 * 1000)});

script(type="text/javascript" src="js/shared-script.js")