script(type="text/javascript" src="js/materialize.min.js")
if error
    script(type="text/javascript") M.toast({html: "#{error}", displayLength: (60 * 60 * 1000)});

script(type="text/javascript" src="js/container-toggler.js")