/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
    --base-font-size: 16px;
    --small-font-size: .8em;
    --medium-font-size: 1.2em;
    --large-font-size: 1.8em;
    --extreme-font-size: 3em;

    --light-font-weight: 300;
    --regular-font-weight: 400;
    --bold-font-weight: 700;

    --primary-font-family: "Lato", sans-serif;
    --secodary-font-family: "Montserrat", sans-serif;
    --icons-font-family: "Material Icon", sans-serif;

    --background-color-1: #ffffff;
    --background-color-2: #dddddd;
    --primary-color: #23ce6b;
    --secondary-color: #272d2d;
    --text-color: #000000;
    --alt-text-color: #ffffff;
    --error-color: #f44336;
    --disabled-color: #a0a0a0;
    --background-gradient: linear-gradient(-45deg, #23CE6B, #24A65C, #257E4C, #26553D, #272D2D);
}

/**************
 * TYPOGRAPHY *
 **************/

body {
    font-size: var(--base-font-size);
}

h1, h2, h3 {
    font-weight: var(--light-font-weight);
    font-family: var(--primary-font-family);
    color: var(--text-color);
    text-align: center;
}
h1 {
    font-size: var(--large-font-size);
}
h2 {
    font-size: var(--medium-font-size);
}
h3 {
    font-size: var(--small-font-size);
}

h1 a, h2 a, h3 a {
    font-weight: var(--regular-font-weight);
    color: var(--text-color);
}

.btn {
    font-size: var(--medium-font-size);
    line-height: var(--medium-font-size);
    font-weight: var(--bold-font-weight);
    font-family: var(--secodary-font-family);
    color: var(--alt-text-color);
    text-transform: none;
    letter-spacing: normal;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.input-field input[type]:not(.browser-default),
.input-field input[type]:not(.browser-default) + label {
    font-size: var(--medium-font-size);
    font-weight: var(--light-font-weight);
    font-family: var(--primary-font-family);
    color: var(--text-color);
}
.input-field input[type]:not(.browser-default):focus:not(.invalid) + label {
    color: var(--primary-color);
}

.ellipsis {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.report {
    font-weight: var(--bold-font-weight);
    font-size: var(--extreme-font-size);
    font-family: var(--secodary-font-family);
    color: var(--primary-color);
}
.report.minor {
    font-size: var(--large-font-size);
    color: var(--secodary-color);
}

/***********
 * GENERAL *
 ***********/
 
*, *:after, *:before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--background-color-1);
    margin: 0 auto;
}
body.alt {
    background-color: var(--background-color-2);
}

body.overlayed:before,
body.scanning:before {
    content: "";
    position: fixed;
    top: -20vh;
    right: 0;
    bottom: -20vh;
    left: 0;
    background-color: var(--secondary-color);
    opacity: 0.5;
    z-index: 3;
    pointer-events: none;
}

body > h1 {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.spaced {
    margin-bottom: 3em;
}

.hidden-form {
    visibility: hidden;
    display: none;
    pointer-events: none;
}

/***********
 * BUTTONS *
 ***********/

.btn {
    padding: .6em 2em;
    width: 100%;
    max-width: 300px;
    height: 2.4em;
    border-radius: 1.2em;
    display: block;
    margin: 0 auto 1em;
}
.btn.primary {
    background-color: var(--primary-color);
}
.btn.secondary {
    background-color: var(--secondary-color);
}
.btn.disable {
    background-color: var(--disabled-color);
}
.btn.limited {
    width: 80%;
}

/**************
 * INPUT FORM *
 **************/
 
.input-form {
    width: 80%;
    margin: 4em auto 0;
}
.input-form.large {
    width: 100%;
}
 
.input-field {
    max-width: 300px;
    margin: 1em auto 1.5em;
}
 
.input-field input[type]:not(.browser-default) {
    padding: .6em 1.2em;
    width: 100%;
    height: 2.4em;
    border-radius: 1.2em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom: none;
    border: 2px solid var(--text-color);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.input-field input[type]:not(.browser-default).valid,
.input-field input[type]:not(.browser-default):focus:not(.invalid) {
    border-color: var(--primary-color);
}
.input-field input[type]:not(.browser-default).invalid {
    border-color: var(--error-color);
}

.input-field > label {
    left: 1.2em;
    top: -.15em;
    pointer-events: none;
}
.input-field > label:not(.label-icon).active {
    -webkit-transform: translateY(-1em) scale(0.7);
        -ms-transform: translateY(-1em) scale(0.7);
            transform: translateY(-1em) scale(0.7);
}
.input-field > input[type]:-webkit-autofill + label:not(.label-icon).active {
    -webkit-transform: translateY(-1em) scale(0.7);
        -ms-transform: translateY(-1em) scale(0.7);
            transform: translateY(-1em) scale(0.7);
}

/***************************
 * HOME - LOGIN - REGISTER *
 ***************************/

.half {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.half > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

.half .banner {
    background-image: url("../img/banner-mobile.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    width: 100%;
}
.half .content {
    margin: 0 0 5em;
}
.half .column {
    margin: 0 1em;
}

.logo {
    width: 50%;
    max-width: 250px;
    height: auto;
    display: block;
    margin: 3em auto 0;
}

@media screen and (min-width: 768px) {
    .half {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
    .half .banner {
        -ms-flex-preferred-size: 45%;
            flex-basis: 45%;
        background-image: url('../img/banner-desktop.png');
        background-position: right 1em top;
        min-height: 100vh;
    }
    .half .content {
        -ms-flex-preferred-size: 55%;
            flex-basis: 55%;
        margin: auto 0;
        padding: 2em 0;
    }
    .half .column {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        min-width: 200px;
    }
}

/**************************
* EXPLORE - STORE - QUEUE *
***************************/

/*** TOOLBAR ***/

.btn-floating-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.btn-floating,
.btn-floating:hover {
    background-color: var(--background-color-1);
    z-index: 2;
}
.btn-floating.top {
    top: 1em;
}
.btn-floating.left {
    left: 1em;
}
.btn-floating.right {
    right: 1em;
}
.btn-floating .material-icons {
    font-size: var(--large-font-size);
    color: var(--secondary-color);
}

.preloader-wrapper.small {
    width: 30px;
    height: 30px;
    margin: 13px;
} 
.preloader-wrapper .spinner-layer {
    border-color: var(--secondary-color);
}

/*** CONTENT ***/

.main-container {
    background-color: var(--background-color-1);
    width: 80%;
    max-width: 500px;
    margin: 2.5em auto;
    padding: 2em;
    border-radius: 2em;
}
.main-container h1 {
    margin-top: 1em;
}

.store-details {
    width: 100%;
}
.store-details > h1 {
    font-weight: var(--regular-font-weight);
}
.store-details > h2 {
    margin-bottom: 2em;
}

.info-container {
    width: 100%;
    max-width: 300px;
    margin: 2.5em auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.info-container > .material-icons {
    font-size: var(--extreme-font-size);
    color: var(--secondary-color);
}
.info-container h2 {
    text-align: left;
    margin: 0 0 0 1em;
}

/*** QR CODE ***/

.qr-code-container {
    width: 50%;
    max-width: 250px;
    margin: 2.5em auto;
}
.qr-code {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
}
.qr-code-description {
    margin: 1em 0 0;
}

/*** STORE LIST ***/

.store-list {
    width: 80%;
    max-width: 850px;
    margin: 0 auto;
    padding: 2em 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.store {
    width: 100%;
    max-width: 350px;
    min-height: 8em;
    padding: 1em;
    margin: .5em 1em 1.5em;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 1.5em;
    cursor: pointer;
    background-color: var(--background-color-1);
}
.store-icon {
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    text-align: center;
    border-radius: 50%;
    font-size: var(--large-font-size);
    color: var(--alt-text-color);
    pointer-events: none;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.store-icon.style-1 {
    background-color: var(--primary-color);
}
.store-icon.style-2 {
    background-color: var(--secondary-color);
}

.store-info {
    margin: 0 0 0 1em;
    min-width: 0;
    width: 100%;
}
.store-info > * {
    margin: 10px 0;
}
.store-info > h2 {
    font-weight: var(--regular-font-weight);
}

/***********
* OVERVIEW *
************/

.report-wrapper {
    width: 100%;
    max-width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 3em auto 0;
}
.report-container {
    text-align: center;
}
.report-container > h2 {
    margin: 0 auto;
}

.main-container.modal-container {
    position: fixed;
    top: 50%;
    left: calc(50% + 8px);
    -webkit-transform: translate(-50%, 150%);
        -ms-transform: translate(-50%, 150%);
            transform: translate(-50%, 150%);
    -webkit-transition: .35s transform ease-in-out;
    -o-transition: .35s transform ease-in-out;
    transition: .35s transform ease-in-out;
    pointer-events: none;
    z-index: 4;
}
.overlayed .main-container.modal-container {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    pointer-events: all;
}

.camera-container {
    position: fixed;
    background-color: var(--background-color-1);
    top: 2em;
    right: 2em; 
    bottom: 2em;
    left: 2em;
    border-radius: 2em;
    -webkit-transform: translateY(150%);
        -ms-transform: translateY(150%);
            transform: translateY(150%);
    -webkit-transition: -webkit-transform .35s ease-in-out;
    transition: -webkit-transform .35s ease-in-out;
    -o-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
    z-index: 4;
    overflow: hidden;
}
.scanning .camera-container {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}
.camera-container .btn-floating {
    position: absolute;
}
.camera-container .camera-feed {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}