<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Camera | Store X | Customers Line-up</title>
        <meta name="description" content="">
        <link rel="canonical" href="">

        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@700&display=swap" rel="stylesheet">

        <link href="css/normalize.css" type="text/css" rel="stylesheet">
        <link href="css/materialize.min.css" type="text/css" rel="stylesheet">
        <link href="css/style.css" type="text/css" rel="stylesheet">        
    </head>
    <body>
        <h1>Must be replaced by the QR scanner</h1>
        
        <a id="form-btn-in" class="waves-effect waves-light btn secondary">Scan at Entrance</a>
        
        <a id="form-btn-out" class="waves-effect waves-light btn secondary">Scan at Exit</a>

        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script>
            document.getElementById("form-btn-in").addEventListener("click", openTestIn)
            document.getElementById("form-btn-out").addEventListener("click", openTestOut)

            function openTestIn() {                
                window.sessionStorage.setItem("data-src", "/ticket/scan/entrance");
                window.sessionStorage.setItem("data-target", "overview.html");
                window.location.href = "test-post.html";
            }

            function openTestOut() {
                window.sessionStorage.setItem("data-src", "/ticket/scan/exit");
                window.sessionStorage.setItem("data-target", "overview.html");
                window.location.href = "test-post.html";
            }
        </script>
    </body>
</html>