<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Camera | Store X | Customers Line-up</title>
        <meta name="description" content="">
        <link rel="canonical" href="">

        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@700&display=swap" rel="stylesheet">

        <link href="css/normalize.css" type="text/css" rel="stylesheet">
        <link href="css/materialize.min.css" type="text/css" rel="stylesheet">
        <link href="css/style.css" type="text/css" rel="stylesheet">
        <script src="js/utils.js" charset="utf-8" defer></script>
    </head>
    <body>
        <h1>Camera page, must be replaced by the QR scanner</h1>
        <form id="form" action="#" data-src="/ticket/scan/entrance">
            <input name="id" type="text" placeholder="Id">
            <input name="date" type="date" placeholder="Date">
            <input name="user" type="text" placeholder="User">
            <input name="store" type="text" placeholder="Store">
        </form>
        
        <button id="form-btn" type="button" class="waves-effect waves-light btn secondary">Scan at Entrance</button>

        <form id="form-2" action="#" data-src="/ticket/scan/exit">
            <input name="id" type="text" placeholder="Id">
            <input name="date" type="date" placeholder="Date">
            <input name="user" type="text" placeholder="User">
            <input name="store" type="text" placeholder="Store">
        </form>
        
        <button id="form-btn-2" type="button" class="waves-effect waves-light btn secondary">Scan at Exit</button>

        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script>
            document.getElementById("form-btn").addEventListener("click", submitForm)
            document.getElementById("form-btn-2").addEventListener("click", submitForm2)

            function submitForm() {
                var form = document.getElementById("form");
                if(!form.checkValidity()) {
                    form.reportValidity();
                    return;
                }

                makeCall("POST", form.getAttribute("data-src"), form, req => {
                    if(req.readyState == XMLHttpRequest.DONE) {
                        if(req.status == 200) {
                            //Do something
                            window.location.href = "store-overview.html";
                        } else {
                            console.log(req.responseText);
                        }
                    }
                })
            }

            function submitForm2() {
                var form = document.getElementById("form-2");
                
                if(!form.checkValidity()) {
                    form.reportValidity();
                    return;
                }

                makeCall("POST", form.getAttribute("data-src"), form, req => {
                    if(req.readyState == XMLHttpRequest.DONE) {
                        if(req.status == 200) {
                            //Do something
                            window.location.href = "store-overview.html";
                        } else {
                            console.log(req.responseText);
                        }
                    }
                })
            }
        </script>
    </body>
</html>