<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Explore | Customers Line-up</title>
        <meta name="description" content="">
        <link rel="canonical" href="">

        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@700&display=swap" rel="stylesheet">

        <link href="css/normalize.css" type="text/css" rel="stylesheet">
        <link href="css/materialize.min.css" type="text/css" rel="stylesheet">
        <link href="css/style.css" type="text/css" rel="stylesheet">
    </head>
    <body class="alt">
        <h1>Browse through our partners</h1>
        <div class="btn-floating-container">
            <a class="btn-floating btn-large waves-effect waves-dark" href="/logout"><i class="material-icons">exit_to_app</i></a>
            <a class="btn-floating btn-large waves-effect waves-dark" href="/queue"><i class="material-icons">shopping_cart</i></a>
            <a class="btn-floating btn-large waves-effect waves-dark" id="position-btn"><i class="material-icons">gps_not_fixed</i></a>
        </div>
            
        <div class="store-list">
        
            <div class="store waves-effect waves-dark z-depth-1" data-id="1">
                <div class="store-icon style-1"><i class="material-icons">storefront</i></div>
                <div class="store-info">
                    <h2 class="ellipsis">U2 Supermercato</h2>
                    <h3 class="ellipsis">350m</h3>
                    <h3 class="ellipsis">15 users in line</h3>
                </div>
            </div>
            <div class="store waves-effect waves-dark z-depth-1" data-id="2">
                <div class="store-icon style-2"><i class="material-icons">store</i></div>
                <div class="store-info">
                    <h2 class="ellipsis">Supermercato Carrefour Market</h2>
                    <h3 class="ellipsis">800m</h3>
                    <h3 class="ellipsis">12 users in line</h3>
                </div>
            </div>

            <div class="store waves-effect waves-dark z-depth-1" data-id="3">
                <div class="store-icon style-1"><i class="material-icons">storefront</i></div>
                <div class="store-info">
                    <h2 class="ellipsis">U2 Supermercato</h2>
                    <h3 class="ellipsis">350m</h3>
                    <h3 class="ellipsis">15 users in line</h3>
                </div>
            </div>
            <div class="store waves-effect waves-dark z-depth-1" data-id="4">
                <div class="store-icon style-2"><i class="material-icons">store</i></div>
                <div class="store-info">
                    <h2 class="ellipsis">Supermercato Carrefour Market</h2>
                    <h3 class="ellipsis">800m</h3>
                    <h3 class="ellipsis">12 users in line</h3>
                </div>
            </div>
            <div class="store waves-effect waves-dark z-depth-1" data-id="5">
                <div class="store-icon style-1"><i class="material-icons">storefront</i></div>
                <div class="store-info">
                    <h2 class="ellipsis">U2 Supermercato</h2>
                    <h3 class="ellipsis">350m</h3>
                    <h3 class="ellipsis">15 users in line</h3>
                </div>
            </div>
            <div class="store waves-effect waves-dark z-depth-1" data-id="6">
                <div class="store-icon style-2"><i class="material-icons">store</i></div>
                <div class="store-info">
                    <h2 class="ellipsis">Supermercato Carrefour Market</h2>
                    <h3 class="ellipsis">800m</h3>
                    <h3 class="ellipsis">12 users in line</h3>
                </div>
            </div>

        </div>

        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript"> 
            document.querySelectorAll(".store").forEach(store => {
                store.addEventListener("click", (e) => {
                    window.location.href = "/store?id=" + store.getAttribute("data-id");
                });
            });    

            document.getElementById("position-btn").addEventListener("click", getCoordinates);

            function getCoordinates() {
                if(navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(sendPosition, catchError);
                } else {
                    displayError("Geolocation is not supported by this browser.");
                }
            }

            function sendPosition(position) {
                window.location.href = "/explore?lat=" + position.coords.latitude + "&lng=" + position.coords.longitude;
            }

            function catchError(error) {
                switch(error.code) {
                    case error.PERMISSION_DENIED:
                        displayError("User denied the request for Geolocation");
                        break;
                    case error.POSITION_UNAVAILABLE:
                        displayError("Location information is unavailable.");
                        break;
                    case error.TIMEOUT:
                        displayError("The request to get user location timed out.");
                        break;
                    case error.UNKNOWN_ERROR:
                        displayError("An unknown error occurred.");
                        break;
                }
            }

            function displayError(errorString) {
                var button = document.getElementById("position-btn");
                button.removeEventListener("click", getCoordinates);
                button.firstChild.innerHTML = "gps_off";
                M.Toast.dismissAll();
                M.toast({html: errorString, displayLength: (30 * 1000)});
            }
        </script>
    </body>
</html>