<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Customers Line-up</title>
        <meta name="description" content="">
        <link rel="canonical" href="">

        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@700&display=swap" rel="stylesheet">

        <link href="css/normalize.css" type="text/css" rel="stylesheet">
        <link href="css/materialize.min.css" type="text/css" rel="stylesheet">
        <link href="css/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <img class="banner" alt="" src="img/banner-big.png"/>
        <a href="index.html"><img class="logo" alt="Customers Line-up" src="img/logo.png"/></a>
        <h2>Your safety is our concern</h2>
        
        <h1 class="spaced">Welcome!</h1>

        <a class="waves-effect waves-light btn primary" href="login.html">Sign In</a>
        <h3>Don't have an account? <a href="register.html">Sign Up Now</a></h3>

        <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
</html>