<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Print Ticket | Store X | Customers Line-up</title>
        <meta name="description" content="">
        <link rel="canonical" href="">

        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@700&display=swap" rel="stylesheet">

        <link href="css/normalize.css" type="text/css" rel="stylesheet">
        <link href="css/materialize.min.css" type="text/css" rel="stylesheet">
        <link href="css/style.css" type="text/css" rel="stylesheet">
    </head>
    <body class="alt">
        <h1>Here, the ticket for your customer!</h1>
        <div class="btn-floating-container">
            <a class="btn-floating btn-large waves-effect waves-dark" id="close-btn"><i class="material-icons">close</i></a>
        </div>

        <img alt="" class="qr-code" src="img/qr-code.png"/>
        <h3 class="qr-code-description">Show this QR code to the store manager at the entrance</h3>

        <div class="info-container">
            <i class="material-icons">store</i>
            <div>
                <h2><b>Supermercato Carrefour Market</b></h2>
                <h2>Via Benedetto Spinoza, 4, 20131 Milano MI</h2>
            </div>
        </div>

        <div class="info-container">
            <i class="material-icons">watch_later</i>
            <div>
                <h2>Issued on</h2>
                <h2><b>23/12/2020 - 10:21</b></h2>
            </div>
        </div>

        <form id="form" method="#" class="hidden-form" action="#">
            <input name="ticket" type="hidden" value="1"/>
        </form>
        
        
        <a class="waves-effect waves-light btn primary" id="print-btn">Print the Ticket</a>
        <button id="form-btn" type="submit" form="form" class="waves-effect waves-light btn secondary">Delete the Ticket</button>

        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript">
            document.getElementById("close-btn").addEventListener("click", avoidClose);

            document.getElementById("print-btn").addEventListener("click", printTicket);

            function avoidClose() {
                M.Toast.dismissAll();
                M.toast({html: "You must first print the ticket.", displayLength: (30 * 1000)});
            }

            function printTicket() {
                //TODO print the ticket
                var closeBtn = document.getElementById("close-btn");
                closeBtn.removeEventListener("click", closePage);
                closeBtn.addEventListener("click", closePage);
            }

            function closePage() {
                window.location.href="/overview";
            }
        </script>
    </body>
</html>