<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Store X Overview | Customers Line-up</title>
        <meta name="description" content="">
        <link rel="canonical" href="">

        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@700&display=swap" rel="stylesheet">

        <link href="css/normalize.css" type="text/css" rel="stylesheet">
        <link href="css/materialize.min.css" type="text/css" rel="stylesheet">
        <link href="css/style.css" type="text/css" rel="stylesheet">
        
        <script src="js/utils.js" charset="utf-8" defer></script>
    </head>
    <body class="alt">
        <h1>Store overview</h1>
        <div class="report-wrapper">
            <div class="report-container">
                <h2>Inside</h2>
                <span id="inside" class="report">37</span><span id="capacity" class="report minor">/38</span>
            </div>
            <div class="report-container">
                <h2>In line</h2>
                <span id="in-line" class="report">15</span>
            </div>
        </div>

        <section id="bottom-container" class="bottom-container z-depth-3">
            <div class="store-details">
                <h1>Supermercato Carrefour Market</h1>
                <h2>Via Benedetto Spinoza, 4, 20131 Milano MI</h2>
            </div>

            <a href="camera.html" class="waves-effect waves-light btn primary">Scan Ticket</a>
            <a href="print-ticket.html" class="waves-effect waves-light btn secondary">Issue Ticket</a>
        </section>

        <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
</html>