<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Print Ticket | Store X | Customers Line-up</title>
        <meta name="description" content="">
        <link rel="canonical" href="">

        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@700&display=swap" rel="stylesheet">

        <link href="css/normalize.css" type="text/css" rel="stylesheet">
        <link href="css/materialize.min.css" type="text/css" rel="stylesheet">
        <link href="css/style.css" type="text/css" rel="stylesheet">
    </head>
    <body class="alt">
        <h1>Here, the ticket for your customer!</h1>

        <img alt="" class="qr-code" src="img/qr-code.png"/>
        <h3 class="qr-code-description">Show this QR code to the store manager at the entrance</h3>

        <div class="info-container">
            <i class="material-icons">store</i>
            <div>
                <h2><b>Supermercato Carrefour Market</b></h2>
                <h2>Via Benedetto Spinoza, 4, 20131 Milano MI</h2>
            </div>
        </div>

        <div class="info-container">
            <i class="material-icons">watch_later</i>
            <div>
                <h2>Issued on</h2>
                <h2><b>23/12/2020 - 10:21</b></h2>
            </div>
        </div>
        
        <a class="waves-effect waves-light btn primary">Print the Ticket</a>
        <a class="waves-effect waves-light btn secondary" href="/overview">Back to Overview</a>

        <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
</html>