<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Queue | Store X | Customers Line-up</title>
        <meta name="description" content="">
        <link rel="canonical" href="">

        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@700&display=swap" rel="stylesheet">

        <link href="css/normalize.css" type="text/css" rel="stylesheet">
        <link href="css/materialize.min.css" type="text/css" rel="stylesheet">
        <link href="css/style.css" type="text/css" rel="stylesheet">
    </head>
    <body class="alt">
        <h1>Be patient, your turn is coming!</h1>

        <img alt="" class="qr-code" src="img/qr-code.png"/>
        <h3 class="qr-code-description">Show this QR code to the store manager at the entrance</h3>

        <div class="info-container">
            <i class="material-icons">group</i>
            <h2 class="ellipsis"><b>12</b> users before you</h2>
        </div>

        <div class="info-container">
            <i class="material-icons">watch_later</i>
            <h2 class="ellipsis"><b>25</b> minutes estimated</h2>
        </div>
        
        <a class="waves-effect waves-light btn primary" href="explore.html">Back to the Map</a>
        <button id="form-btn" type="button" class="waves-effect waves-light btn secondary">Leave the Queue</button>

        <section id="bottom-container" class="bottom-container closed z-depth-3">
            <div id="bottom-toggler" class="bottom-toggler"></div>
            
            <div class="store-details">
                <h1>Supermercato Carrefour Market</h1>
                <h2>Via Benedetto Spinoza, 4, 20131 Milano MI</h2>

                <div class="info-container">
                    <i class="material-icons">directions_walk</i>
                    <h2 class="ellipsis"><b>0.8</b> km away</h2>
                </div>

                <div class="info-container">
                    <i class="material-icons">group</i>
                    <h2 class="ellipsis"><b>12</b> users in line</h2>
                </div>
            </div>
        </section>

        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script>
            var bottomContainer = document.getElementById("bottom-container");

            document.getElementById("bottom-toggler").addEventListener("click", () => {
                bottomContainer.classList.toggle("closed");
                bottomContainer.classList.toggle("full");
            });

            document.getElementById("form-btn").addEventListener("click", openTest)

            function openTest() {
                window.sessionStorage.setItem("data-src", "/queue/leave");
                window.sessionStorage.setItem("data-target", "explore.html");
                window.location.href = "test-post.html";
            }
        </script>
    </body>
</html>