<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Register a Store | Customers Line-up</title>
        <meta name="description" content="">
        <link rel="canonical" href="">

        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@700&display=swap" rel="stylesheet">

        <link href="css/normalize.css" type="text/css" rel="stylesheet">
        <link href="css/materialize.min.css" type="text/css" rel="stylesheet">
        <link href="css/style.css" type="text/css" rel="stylesheet">
        
        <script src="js/utils.js" charset="utf-8" defer></script>
    </head>
    <body>
        <img class="banner" alt="" src="img/banner-small.png"/>
        <a href="/index"><img class="logo" alt="Customers Line-up" src="img/logo.png"/></a>
        <h2>Your safety is our concern</h2>

        <h1>Welcome on board!</h1>
        
        <form id="form" class="input-form" method="POST" action="/register-store">
            <h3>Personal details</h3>
            <div class="input-field">
                <input name="name" type="text" class="validate" required>
                <label for="name">Name</label>
            </div>     
            <div class="input-field">
                <input name="surname" type="text" class="validate" required>
                <label for="surname">Surname</label>
            </div>     
            <div class="input-field">
                <input name="email" type="email" class="validate" required>
                <label for="email">Email</label>
            </div>     
            <div class="input-field">
                <input name="password" type="password" class="validate" required>
                <label for="password">Password</label>
            </div>   
            <h3>Store details</h3>  
            <div class="input-field">
                <input name="storeName" type="text" class="validate" required>
                <label for="store-name">Name</label>
            </div>     
            <div class="input-field">
                <input name="address" type="text" class="validate" required>
                <label for="address">Address</label>
            </div>     
            <div class="input-field">
                <input name="vat" type="text" class="validate" required>
                <label for="vat">VAT</label>
            </div>     
            <div class="input-field">
                <input name="capacity" type="number" class="validate" required>
                <label for="capacity">Capacity</label>
            </div>       
            <input type="submit">
        </form>

        <button id="form-btn" type="button" class="waves-effect waves-light btn primary">Register</button>
        <h3>Are you a customer? <a href="/register">Sign Up Now</a></h3>

        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript">
            document.getElementById("form-btn").addEventListener("click", () => submitForm());
        </script>
    </body>
</html>