<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Store X | Customers Line-up</title>
        <meta name="description" content="">
        <link rel="canonical" href="">

        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@700&display=swap" rel="stylesheet">

        <link href="css/normalize.css" type="text/css" rel="stylesheet">
        <link href="css/materialize.min.css" type="text/css" rel="stylesheet">
        <link href="css/style.css" type="text/css" rel="stylesheet">
    </head>
    <body class="alt no-overflow">
        <a class="btn-floating btn-large waves-effect waves-dark top right" href="/explore"><i class="material-icons">close</i></a>

        <section id="map no-click" class="map">

        </section>

        <section id="bottom-container" class="bottom-container mid z-depth-3">
            <div class="store-details">
                <h1>Supermercato Carrefour Market</h1>
                <h2>Via Benedetto Spinoza, 4, 20131 Milano MI</h2>

                <div class="info-container">
                    <i class="material-icons">directions_walk</i>
                    <h2 class="ellipsis"><b>0.8</b> km away</h2>
                </div>

                <div class="info-container">
                    <i class="material-icons">group</i>
                    <h2 class="ellipsis"><b>12</b> users in line</h2>
                </div>
            </div>

            <a id="form-btn" class="waves-effect waves-light btn primary">Join the Queue</a>
        </section>

        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript">
            document.getElementById("form-btn").addEventListener("click", openTest)

            function openTest() {
                window.sessionStorage.setItem("data-src", "/queue/join");
                window.sessionStorage.setItem("data-target", "/queue");
                window.location.href = "test-post.html";
            }
        </script>
    </body>
</html>