doctype html
html(lang="en")
    head
        include include/head.pug
        title Register a Store | Customers LineUp
    body
        img.banner(src="img/banner-small.png")
        a(href="/")
            img.logo(alt="Customers LineUp" src="img/logo.png")
        h2 Your safety is our concern

        h1 Welcome on board!

        form#form.input-form(method="POST" action="/register")
            h3 Personal details
            div.input-field
                input.validate(name="name" type="text" required)
                label(for="name") Name
            div.input-field
                input.validate(name="surname" type="text" required)
                label(for="surname") Surname
            div.input-field
                input.validate(name="email" type="email" required)
                label(for="email") Email
            div.input-field
                input.validate(name="password" type="password" required)
                label(for="password") Password
            h3 Store details
            div.input-field
                input.validate(name="storeName" type="text" required)
                label(for="storeName") Name
            div.input-field
                input.validate(name="address" type="text" required)
                label(for="address") Address
            div.input-field
                input.validate(name="vat" type="test" required)
                label(for="vat") VAT number
            div.input-field
                input.validate(name="capacity" type="number" required)
                label(for="capacity") Capacity

        button#form-btn.waves-effect.waves-light.btn.primary(type="submit" form="form") Register
        h3 Are you a customer? 
            a(href="/register") Sign Up Now

        include include/script.pug