//- -----REQUIRED VARIABLES-----
//- tickets: array of objects {
        //- id: ticket id
        //- date: timestamp
        //- before: number of tickets before in the queue
//- }

//- -----TIMESTAMP TO HUMAN READABLE CONVERSION-----
- function convertDate(date) { 
-   var dateTime = new Date(date * 1000);
-   var dateTimeString = [dateTime.getDate().toString().padStart(2, "0"), (dateTime.getMonth() + 1).toString().padStart(2, "0"), dateTime.getFullYear()].join("/");
-   dateTimeString += " - " + [dateTime.getHours().toString().padStart(2, "0"), dateTime.getMinutes().toString().padStart(2, "0")].join(":");
-   return dateTimeString;
-}


doctype html
html(lang="en")
    head
        include include/head.pug
        title Tickets - Customers LineUp
    body.alt
        h1 Manage the tickets issued by you!
        div.btn-floating-container
            a.btn-floating.btn-large.waves-effect.waves-dark(href="/overview")
                i.material-icons close
        
        section.ticket-list
            -var index = 0;
            each ticket in tickets
                a.ticket.waves-effect.waves-dark.z-depth-1
                    div.ticket-icon(data-id=ticket.id)
                        i.material-icons delete_forever
                    div.store-info
                        h2.ellipsis #{convertDate(ticket.date)}
                        h3.ellipsis #{(ticket.before + 1) + " of the line"}
                - index++;

        form#form.hidden-form(method="POST" action="/overview/ticket/delete")
                input#ticket-id(name="ticket" type="hidden" value="")

        include include/script.pug
        script(type="text/javascript" src="/js/ticket-list.js")